<!doctyle html>
<html>
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.7/semantic.css">
    <!-- TODO: Create CSS file with custom styles-->
    <!--
    .row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;
}
    -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <div class="ui inverted menu segment">
      <div class="ui container inverted secondary menu">
        <a href="/" class="item">
          <i class="code icon"></i>Blog Site
        </a>
        <a href="/" class="item">
          Home
        </a>
        <a href="/blogs/new" class="item">
          New Post
        </a>
      </div>
    </div>
    